<form class="form-inline" name="cvnForm" id="cvnForm" novalidate ng-init="cvn.setStatusByQueryString() && cvn.changeSubscription()"
      ng-submit="cvn.isFormValid(cvnForm) && cvn.setStatus(cvn.STATUSES.PROCESSING) && cvn.subscribe()">
    <div class="form-group g-recaptcha" data-callback="setCaptchaResponse"
         data-sitekey="6Lec8x8TAAAAAGeYf6XG0GkqXlTGDwqOCvkwYjg6"></div>
    <div class="form-group form-group-lg"
         ng-class="{'has-error': cvn.hasErrors(cvnForm), 'has-success': cvn.isSuccess(cvnForm)}">
        <label class="sr-only" for="email">Email address</label>
        <input type="email" ng-model="cvn.email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" class="form-control btn-block"
               ng-disabled="!cvn.isCaptchaDone() || !cvn.isStatus(cvn.STATUSES.UNSUBSCRIBED)" id="email" name="email"
               required placeholder="Email" tabindex="1">
        <button type="submit" class="btn btn-default btn-lg btn-block" disabled="disabled" tabindex="2"
                ng-disabled="!cvn.isFormValid(cvnForm) || !cvn.isStatus(cvn.STATUSES.UNSUBSCRIBED)">
            Sign up
        </button>
    </div>
    <p class="bg-primary" ng-show="cvn.isStatus(cvn.STATUSES.PROCESSING) || cvn.isStatus(cvn.STATUSES.CONFIRMING)
        || cvn.isStatus(cvn.STATUSES.UNSUBSCRIBING)">
        <i class="fa fa-refresh fa-spin"></i>
        Processing... (please wait)
    </p>
    <p class="bg-warning" ng-show="cvn.isStatus(cvn.STATUSES.TO_CONFIRM_BY_USER)">
        <i class="fa fa-eye"></i>
        We emailed you a link. Please click it to confirm this subscription.
    </p>
    <p class="bg-success" ng-show="cvn.isStatus(cvn.STATUSES.TO_CONFIRM_BY_OWNER)">
        <i class="fa fa-check"></i>
        Thank you, we have received your confirmation. In a bit we will have reviewed your subscription to make sure you are not a bot from the vast expanses of the internet. Please wait a little and look into your inbox.
    </p>
    <p class="bg-success" ng-show="cvn.isStatus(cvn.STATUSES.SUBSCRIBED)">
        <i class="fa fa-check"></i>
        You have successfully signed up and will receive CV updates about three times a year.
    </p>
    <p class="bg-danger" ng-show="cvn.isStatus(cvn.STATUSES.ERROR)">
        <i class="fa fa-times"></i>
        An error occurred, sorry! Please contact us.
    </p>
    <p ng-show="cvn.isStatus(cvn.STATUSES.SUBSCRIBED)">
        <a href="#">Cancel Subscription</a> &nbsp; <a href="#">Send CV Right Now</a>
    </p>
</form>