// http://www.colourlovers.com/palette/580974/Adrift_in_Dreams
$sunlit-sea: #CFF09E;
$sea-foaming: #A8DBA8;
$sea-showing-green: #79BD9A;
$there-we-could-sail: #3B8686;
$adrift-in-dreams: #0B486B;
$adrift-in-dreams-light: #C0DBFD;

$white: #FFF;
$white-sand: #F5F5F5;
$mercury: #E7E7E7;
$alto: #DDD;
$slate-gray: #7B8993;
$black: #000;
