@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@font-face {
  font-family: 'chocolate-covered-raindrops';
  src: url('/fonts/chocolate-covered-raindrops.ttf') format('truetype');
}

$font-family-sans-serif: sans-serif;
$font-family-handwriting: 'chocolate-covered-raindrops';
$font-size-base: 19px;
$headings-font-weight: 300;

// http://www.colourlovers.com/palette/580974/Adrift_in_Dreams
$sunlit-sea: #CFF09E;
$sea-foaming: #A8DBA8;
$sea-showing-green: #79BD9A;
$there-we-could-sail: #3B8686;
$adrift-in-dreams: #0B486B;

$adrift-in-dreams-light: #C0DBFD;
$alto: #DDD;
$mercury: #E7E7E7;
$white-sand: #F5F5F5;
$white: #FFF;
$black: #000;

@mixin animation($delay, $duration, $iteration-count: infinite) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration-count;
  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-iteration-count: $iteration-count;
  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-iteration-count: $iteration-count;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-iteration-count: $iteration-count;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

.wrap {
  width: 100%;
}

main, footer {
  .wrap, &.wrap {
    border-bottom: 1px solid $alto;
    padding: 70px 0 70px 0;
  }
}

a {
  color: $adrift-in-dreams;
}

#shape-arrow-up {
  * {
    fill: none;
  }
  rect {
    stroke: none;
  }
  path, line {
    stroke-width: 3px;
  }
}

.scribbled-note {
  font-family: $font-family-handwriting;
  color: $sunlit-sea;
  font-size: 4rem;
  line-height: normal;
  display: inline-block;
}

.rotate {
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.delay-3 {
  @include animation(3s, 2s, 1);
}

#splash {
  height: 750px;
  background: $black url('/img/potsdamerplatz.jpg') no-repeat center;
  margin-top: 50px;
  padding-top: 50px;

  .arrow-up {
    margin-top: 100px;
    @include animation(1s, 2s, 1);

    svg {
      width: 150px;
      height: 115px;
    }
  }

  .arrow-down {
    margin-top: 100px;
    @include animation(0, 3s, infinite);

    svg {
      fill: $sunlit-sea;
      width: 40px;
      height: 75px;
    }
  }
}

@media screen and (min-width: 1440px) {
  #splash {
    background-size: 100%;
  }
}

.navbar {
  background-color: $white-sand;
  @include box-shadow(0, 8px, 8px, rgba(0, 0, 0, 0.06));

  .dropdown-toggle {
    margin-top: 9px;
  }

  .navbar-brand img {
    height: 30px;
  }

  .navbar-nav {
    li {
      &.active a {
        background-color: $alto;
      }
      a {
        color: $black;
        &:hover {
          background-color: $mercury;
        }
      }
    }
  }
}

.darker {
  background-color: $white-sand;
}

.colorful {
  background: radial-gradient(circle at bottom right, $sunlit-sea 0, $there-we-could-sail 100%);
  color: $white;
}

.footer {
  background-color: $adrift-in-dreams-light;
}
