@import "vendor/variables";
@import 'vendor/bootstrap';
@import "fonts";
@import "colors";
@import "mixins";
@import "base";

//TODO: get licence: http://bythebutterfly.com/shop.php

#shape-arrow-up {
  * {
    fill: none;
  }
  rect {
    stroke: none;
  }
  path, line {
    stroke-width: 3px;
  }
}

.scribbled-note {
  font-family: $font-family-handwriting;
  color: $sunlit-sea;
  font-size: 4rem;
  line-height: normal;
  display: inline-block;
}

.rotate {
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.delay-01 {
  @include animation(0.1s, 1s, 1);
}

.delay-02 {
  @include animation(0.2s, 1s, 1);
}

.delay-03 {
  @include animation(0.3s, 1s, 1);
}

.delay-04 {
  @include animation(0.4s, 1s, 1);
}

.delay-3 {
  @include animation(3s, 2s, 1);
}

#splash {
  height: 750px;
  background: $black url('/img/potsdamerplatz.jpg') no-repeat center;
  margin-top: 50px;
  padding-top: 50px;

  .arrow-up {
    margin-top: 100px;
    @include animation(1s, 2s, 1);

    svg {
      width: 150px;
      height: 115px;
    }
  }

  .arrow-down {
    margin-top: 100px;
    @include animation(0, 3s, infinite);

    svg {
      fill: $sunlit-sea;
      width: 40px;
      height: 75px;
    }
  }
}

@media screen and (min-width: 1440px) {
  #splash {
    background-size: 100%;
  }
}

.navbar {
  background-color: $white-sand;
  @include box-shadow(0, 8px, 8px, rgba(0, 0, 0, 0.06));

  .dropdown {
    padding: 16px 16px 15px 16px;
    &:hover {
      background-color: $mercury;
    }
    .dropdown-toggle {
      padding-bottom: 15px;
      padding-top: 15px;
      color: $black;
      text-decoration: none;
    }
  }

  .navbar-brand img {
    height: 30px;
  }

  .navbar-nav {
    li {
      &.active a {
        background-color: $alto;
      }
      a {
        color: $black;
        &:hover {
          background-color: $mercury;
        }
      }
    }
  }
}

.darker {
  background-color: $white-sand;
}

.colorful {
  background: radial-gradient(circle at bottom right, $sunlit-sea 0, $there-we-could-sail 100%);
  color: $white;
}

.footer {
  background-color: $adrift-in-dreams-light;
}

#footerlogo {
  width: 250px;
}

.form-group-lg input[type=radio] {
  transform: scale(2);
  margin-left: -25px;
}

.bubbles {
  div:first-child .bubble {
    color: $adrift-in-dreams;
  }

  color: $there-we-could-sail;
  min-height: 200px;
  margin-top: 30px;

  div:last-child .bubble {
    color: $sea-showing-green;
  }

  .bubble {
    border: solid 1px $alto;
    border-radius: 6px;
    font-size: 16px;
    padding: 25px;
    margin-bottom: 15px;
    position: relative;
    background-color: $white;

    &:after, &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: $white;
      border-width: 8px;
      margin-left: -8px;
    }

    &:before {
      border-color: rgba(194, 225, 245, 0);
      border-top-color: $alto;
      border-width: 9px;
      margin-left: -9px;
    }
  }
}

.tech {
  height: 114px;

  li {
    width: 95px;
    padding-left: 5px;
    padding-right: 5px;

    i {
      display: block;
      margin: 0 auto;
      height: 85px;
      width: 85px;
      font-size: 50px;
      border-radius: 100%;
      border: 1px solid $alto;
      line-height: 85px;
    }

    div {
      bottom: 10px;
      position: absolute;
      width: 85px;
    }
  }
}

#startup {
  height: 500px;
}

#devices {
  min-height: 498px;
}

#usability .container {
  min-height: 400px;
}

#headhunters .container {
  min-height: 400px;
}

#devices {
  background-color: $there-we-could-sail;
  color: $white;
}

.car {
  position: absolute;
  left: -20px;
  width: 668px;
  height: 500px;
  margin-top: -60px;
}

img.circle {
  border-radius: 100%;
  border: 1px solid $alto;
}

.caption {
  //color: $slate-gray;
  margin-top: 10px;
  img {
    margin-bottom: 10px;
  }
}

.icon-java-bold:before {
  content: "\f126";
  margin-left: 16px;
}

.icon-javascript:before {
  content: "\f128";
  margin-left: 10px;
}

.form-group.g-recaptcha {
  vertical-align: top;
}

// overriding/extending bootstrap
.btn-default {
  @include button-variant($btn-success-color, $there-we-could-sail, $there-we-could-sail);
  @include transition(all 0.2s ease-in-out);
  &:hover {
    background-color: $adrift-in-dreams;
    border-color: $adrift-in-dreams;
  }
}

.bg-primary, .bg-warning, .bg-success, .bg-danger, .bg-info {
  padding: 10px 15px 10px 15px;
  max-width: 530px;
  margin-top: 6px;
}
.bg-warning, .bg-success, .bg-danger, .bg-info {
  color: $gray;
}
.bg-warning {
  background-color: $portica;
}