@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@font-face {
  font-family: 'chocolate-covered-raindrops';
  src: url('/fonts/chocolate-covered-raindrops.ttf') format('truetype');
}

@font-face {
  font-family: "font-mfizz";
  src: url("/fonts/font-mfizz.eot");
  src: url("/fonts/font-mfizz.eot?#iefix") format("embedded-opentype"),
  url("/fonts/font-mfizz.woff") format("woff"),
  url("/fonts/font-mfizz.ttf") format("truetype"),
  url("/fonts/font-mfizz.svg#font-mfizz") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "font-mfizz";
    src: url("/fonts/font-mfizz.svg#font-mfizz") format("svg");
  }
}

$font-family-sans-serif: "proxima-nova", sans-serif;
$font-family-handwriting: 'chocolate-covered-raindrops';
$font-size-base: 19px;
$headings-font-weight: 300;

// http://www.colourlovers.com/palette/580974/Adrift_in_Dreams
$sunlit-sea: #CFF09E;
$sea-foaming: #A8DBA8;
$sea-showing-green: #79BD9A;
$there-we-could-sail: #3B8686;
$adrift-in-dreams: #0B486B;
$adrift-in-dreams-light: #C0DBFD;
$white: #FFF;
$white-sand: #F5F5F5;
$mercury: #E7E7E7;
$alto: #DDD;
$slate-gray: #7B8993;
$black: #000;

@mixin animation($delay, $duration, $iteration-count: infinite) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration-count;
  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-iteration-count: $iteration-count;
  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-iteration-count: $iteration-count;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-iteration-count: $iteration-count;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

body {
  position: relative;
  font-family: $font-family-sans-serif;
}

.wrap {
  width: 100%;
}

main, footer {
  .wrap, &.wrap {
    border-bottom: 1px solid $alto;
    padding: 60px 0 80px 0;
  }
}

a {
  color: $adrift-in-dreams;
}

h2 {
  font-weight: 100;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 200;
  font-size: 19px;
}

#shape-arrow-up {
  * {
    fill: none;
  }
  rect {
    stroke: none;
  }
  path, line {
    stroke-width: 3px;
  }
}

.scribbled-note {
  font-family: $font-family-handwriting;
  color: $sunlit-sea;
  font-size: 4rem;
  line-height: normal;
  display: inline-block;
}

.rotate {
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.delay-01 {
  @include animation(0.1s, 1s, 1);
}

.delay-02 {
  @include animation(0.2s, 1s, 1);
}

.delay-03 {
  @include animation(0.3s, 1s, 1);
}

.delay-04 {
  @include animation(0.4s, 1s, 1);
}

.delay-3 {
  @include animation(3s, 2s, 1);
}

#splash {
  height: 750px;
  background: $black url('/img/potsdamerplatz.jpg') no-repeat center;
  margin-top: 50px;
  padding-top: 50px;

  .arrow-up {
    margin-top: 100px;
    @include animation(1s, 2s, 1);

    svg {
      width: 150px;
      height: 115px;
    }
  }

  .arrow-down {
    margin-top: 100px;
    @include animation(0, 3s, infinite);

    svg {
      fill: $sunlit-sea;
      width: 40px;
      height: 75px;
    }
  }
}

@media screen and (min-width: 1440px) {
  #splash {
    background-size: 100%;
  }
}

.navbar {
  background-color: $white-sand;
  @include box-shadow(0, 8px, 8px, rgba(0, 0, 0, 0.06));

  .dropdown {
    padding: 16px 16px 15px 16px;
    &:hover {
      background-color: $mercury;
    }
    .dropdown-toggle {
      padding-bottom: 15px;
      padding-top: 15px;
      color: $black;
      text-decoration: none;
    }
  }

  .navbar-brand img {
    height: 30px;
  }

  .navbar-nav {
    li {
      &.active a {
        background-color: $alto;
      }
      a {
        color: $black;
        &:hover {
          background-color: $mercury;
        }
      }
    }
  }
}

.darker {
  background-color: $white-sand;
}

.colorful {
  background: radial-gradient(circle at bottom right, $sunlit-sea 0, $there-we-could-sail 100%);
  color: $white;
}

.footer {
  background-color: $adrift-in-dreams-light;
}

.bubbles {
  div:first-child .bubble {
    color: $adrift-in-dreams;
  }

  color: $there-we-could-sail;
  min-height: 200px;

  div:last-child .bubble {
    color: $sea-showing-green;
  }

  .bubble {
    border: solid 1px $alto;
    border-radius: 6px;
    font-size: 16px;
    padding: 25px;
    margin-bottom: 15px;
    position: relative;
    background-color: $white;

    &:after, &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: $white;
      border-width: 8px;
      margin-left: -8px;
    }

    &:before {
      border-color: rgba(194, 225, 245, 0);
      border-top-color: $alto;
      border-width: 9px;
      margin-left: -9px;
    }
  }
}

.tech {
  height: 114px;

  li {
    width: 95px;
    padding-left: 5px;
    padding-right: 5px;

    i {
      display: block;
      margin: 0 auto;
      height: 85px;
      width: 85px;
      font-size: 50px;
      border-radius: 100%;
      border: 1px solid $alto;
      line-height: 85px;
    }

    div {
      bottom: 10px;
      position: absolute;
      width: 85px;
    }
  }
}

#startup {
  height: 500px;
}

#devices {
  background-color: $there-we-could-sail;
  color: $white;
}

.car {
  position: absolute;
  left: -20px;
  width: 668px;
  height: 500px;
  margin-top: -60px;
}

img.circle {
  border-radius: 100%;
  border: 1px solid $alto;
}

.caption {
  //color: $slate-gray;
  margin-top: 10px;
  img {
    margin-bottom: 10px;
  }
}

[data-icon]:before {
  content: attr(data-icon);
}

[data-icon]:before,
.icon-3dprint:before,
.icon-antenna:before,
.icon-apache:before,
.icon-aws:before,
.icon-blackberry:before,
.icon-bomb:before,
.icon-c:before,
.icon-cassandra:before,
.icon-centos:before,
.icon-clojure:before,
.icon-coffee-bean:before,
.icon-cplusplus:before,
.icon-csharp:before,
.icon-css:before,
.icon-database:before,
.icon-database-alt:before,
.icon-database-alt2:before,
.icon-debian:before,
.icon-dreamhost:before,
.icon-elixir:before,
.icon-erlang:before,
.icon-fedora:before,
.icon-fire-alt:before,
.icon-freebsd:before,
.icon-ghost:before,
.icon-gnome:before,
.icon-google:before,
.icon-google-alt:before,
.icon-google-code:before,
.icon-google-developers:before,
.icon-grails:before,
.icon-grails-alt:before,
.icon-hadoop:before,
.icon-haskell:before,
.icon-heroku:before,
.icon-html:before,
.icon-iphone:before,
.icon-java:before,
.icon-java-bold:before,
.icon-java-duke:before,
.icon-javascript:before,
.icon-javascript-alt:before,
.icon-jetty:before,
.icon-kde:before,
.icon-laravel:before,
.icon-line-graph:before,
.icon-linux-mint:before,
.icon-looking:before,
.icon-mariadb:before,
.icon-microscope:before,
.icon-mobile-device:before,
.icon-mobile-phone-alt:before,
.icon-mobile-phone-broadcast:before,
.icon-mongodb:before,
.icon-mssql:before,
.icon-mysql:before,
.icon-mysql-alt:before,
.icon-netbsd:before,
.icon-nginx:before,
.icon-nginx-alt:before,
.icon-nginx-alt2:before,
.icon-nodejs:before,
.icon-objc:before,
.icon-oracle:before,
.icon-oracle-alt:before,
.icon-osx:before,
.icon-perl:before,
.icon-phone-alt:before,
.icon-phone-gap:before,
.icon-phone-retro:before,
.icon-php:before,
.icon-php-alt:before,
.icon-playframework:before,
.icon-playframework-alt:before,
.icon-postgres:before,
.icon-postgres-alt:before,
.icon-python:before,
.icon-raspberrypi:before,
.icon-redhat:before,
.icon-redis:before,
.icon-ruby:before,
.icon-ruby-on-rails:before,
.icon-ruby-on-rails-alt:before,
.icon-satellite:before,
.icon-scala:before,
.icon-scala-alt:before,
.icon-script:before,
.icon-script-alt:before,
.icon-shell:before,
.icon-solaris:before,
.icon-splatter:before,
.icon-suse:before,
.icon-svg:before,
.icon-symfony:before,
.icon-tomcat:before,
.icon-ubuntu:before,
.icon-wireless:before,
.icon-wordpress:before {
  display: inline-block;
  font-family: "font-mfizz";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-3dprint:before {
  content: "\f100";
}

.icon-antenna:before {
  content: "\f101";
}

.icon-apache:before {
  content: "\f102";
}

.icon-aws:before {
  content: "\f103";
}

.icon-blackberry:before {
  content: "\f104";
}

.icon-bomb:before {
  content: "\f105";
}

.icon-c:before {
  content: "\f106";
}

.icon-cassandra:before {
  content: "\f107";
}

.icon-centos:before {
  content: "\f108";
}

.icon-clojure:before {
  content: "\f109";
}

.icon-coffee-bean:before {
  content: "\f10a";
}

.icon-cplusplus:before {
  content: "\f10b";
}

.icon-csharp:before {
  content: "\f10c";
}

.icon-css:before {
  content: "\f10d";
}

.icon-database:before {
  content: "\f10e";
}

.icon-database-alt:before {
  content: "\f10f";
}

.icon-database-alt2:before {
  content: "\f110";
}

.icon-debian:before {
  content: "\f111";
}

.icon-dreamhost:before {
  content: "\f112";
}

.icon-elixir:before {
  content: "\f113";
}

.icon-erlang:before {
  content: "\f114";
}

.icon-fedora:before {
  content: "\f115";
}

.icon-fire-alt:before {
  content: "\f116";
}

.icon-freebsd:before {
  content: "\f117";
}

.icon-ghost:before {
  content: "\f118";
}

.icon-gnome:before {
  content: "\f119";
}

.icon-google:before {
  content: "\f11a";
}

.icon-google-alt:before {
  content: "\f11b";
}

.icon-google-code:before {
  content: "\f11c";
}

.icon-google-developers:before {
  content: "\f11d";
}

.icon-grails:before {
  content: "\f11e";
}

.icon-grails-alt:before {
  content: "\f11f";
}

.icon-hadoop:before {
  content: "\f120";
}

.icon-haskell:before {
  content: "\f121";
}

.icon-heroku:before {
  content: "\f122";
}

.icon-html:before {
  content: "\f123";
}

.icon-iphone:before {
  content: "\f124";
}

.icon-java:before {
  content: "\f125";
}

.icon-java-bold:before {
  content: "\f126";
}

.icon-java-duke:before {
  content: "\f127";
}

.icon-javascript:before {
  content: "\f128";
}

.icon-javascript-alt:before {
  content: "\f129";
}

.icon-jetty:before {
  content: "\f12a";
}

.icon-kde:before {
  content: "\f12b";
}

.icon-laravel:before {
  content: "\f12c";
}

.icon-line-graph:before {
  content: "\f12d";
}

.icon-linux-mint:before {
  content: "\f12e";
}

.icon-looking:before {
  content: "\f12f";
}

.icon-mariadb:before {
  content: "\f130";
}

.icon-microscope:before {
  content: "\f131";
}

.icon-mobile-device:before {
  content: "\f132";
}

.icon-mobile-phone-alt:before {
  content: "\f133";
}

.icon-mobile-phone-broadcast:before {
  content: "\f134";
}

.icon-mongodb:before {
  content: "\f135";
}

.icon-mssql:before {
  content: "\f136";
}

.icon-mysql:before {
  content: "\f137";
}

.icon-mysql-alt:before {
  content: "\f138";
}

.icon-netbsd:before {
  content: "\f139";
}

.icon-nginx:before {
  content: "\f13a";
}

.icon-nginx-alt:before {
  content: "\f13b";
}

.icon-nginx-alt2:before {
  content: "\f13c";
}

.icon-nodejs:before {
  content: "\f13d";
}

.icon-objc:before {
  content: "\f13e";
}

.icon-oracle:before {
  content: "\f13f";
}

.icon-oracle-alt:before {
  content: "\f140";
}

.icon-osx:before {
  content: "\f141";
}

.icon-perl:before {
  content: "\f142";
}

.icon-phone-alt:before {
  content: "\f143";
}

.icon-phone-gap:before {
  content: "\f144";
}

.icon-phone-retro:before {
  content: "\f145";
}

.icon-php:before {
  content: "\f146";
}

.icon-php-alt:before {
  content: "\f147";
}

.icon-playframework:before {
  content: "\f148";
}

.icon-playframework-alt:before {
  content: "\f149";
}

.icon-postgres:before {
  content: "\f14a";
}

.icon-postgres-alt:before {
  content: "\f14b";
}

.icon-python:before {
  content: "\f14c";
}

.icon-raspberrypi:before {
  content: "\f14d";
}

.icon-redhat:before {
  content: "\f14e";
}

.icon-redis:before {
  content: "\f14f";
}

.icon-ruby:before {
  content: "\f150";
}

.icon-ruby-on-rails:before {
  content: "\f151";
}

.icon-ruby-on-rails-alt:before {
  content: "\f152";
}

.icon-satellite:before {
  content: "\f153";
}

.icon-scala:before {
  content: "\f154";
}

.icon-scala-alt:before {
  content: "\f155";
}

.icon-script:before {
  content: "\f156";
}

.icon-script-alt:before {
  content: "\f157";
}

.icon-shell:before {
  content: "\f158";
}

.icon-solaris:before {
  content: "\f159";
}

.icon-splatter:before {
  content: "\f15a";
}

.icon-suse:before {
  content: "\f15b";
}

.icon-svg:before {
  content: "\f15c";
}

.icon-symfony:before {
  content: "\f15d";
}

.icon-tomcat:before {
  content: "\f15e";
}

.icon-ubuntu:before {
  content: "\f15f";
}

.icon-wireless:before {
  content: "\f160";
}

.icon-wordpress:before {
  content: "\f161";
}

